.Marks {
  background-color: #e3f2fd;
  color: #0d47a1;
  padding: 14px 22px;
  margin-bottom: 12px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.2s ease;
  height: 30px;
}

.Marks:hover {
  transform: scale(1.03);
  background-color: #bbdefb;
}
