tr {
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: #f1f5ff;
}

th {
    padding: 12px 15px;
    text-align: left;
    font-size: 20px;
    color:white;
    font-weight: 500;
    background-color: rgb(0, 119, 255);
}

th:first-child {
    width: 90%;
}

th:last-child {
    width: 7%;
}

select {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 40%;
    font-size: 12px;
    background-color: #fff;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23444"><path d="M4 6l4 4 4-4"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color:aqua;
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.3);
}
